body{
    margin: 10px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
    display: block;
    text-align: center;
    text-decoration: none;
    margin: 25px;
}

li:hover:not(.active) {
    cursor: pointer;
    text-decoration: underline;
}
